.battleContainer {
  width: 100%;
  height: 99vh;
  margin-top: 1vh;
  padding: 1vh;
  background-image: url(DeadSea.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
  overflow: hidden;
}

.battleResultsContainer {
  width: 100.8%;
  height: 94vh;
  padding: 0vh;
  background-image: url(DeadSea.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
  overflow: hidden;
}

.battleFooterLeft {
  height: 20vh;
  width: 50%;
  position: absolute;
  bottom: 0vh;
  left: 0vh;

  color: whitesmoke;
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    #0a00ee,
    #0028e9,
    #003ae3,
    #0047db,
    #0052d1,
    #0e55c8,
    #1c58be,
    #275ab4,
    #2857aa,
    #2953a0,
    #295096,
    #2a4c8c
  );
}

.battleFooterRight {
  height: 20vh;
  width: 50%;
  position: absolute;
  bottom: 0vh;
  right: 0vh;
  color: whitesmoke;
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    #0a00ee,
    #0028e9,
    #003ae3,
    #0047db,
    #0052d1,
    #0e55c8,
    #1c58be,
    #275ab4,
    #2857aa,
    #2953a0,
    #295096,
    #2a4c8c
  );
}

.battleQuestionContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 30%;
  min-height: 50%;
  max-width: 40%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 29;
}

.boss {
  position: absolute;
  right: -20vh;
  bottom: -7vh;
  width: 100vh;
}

.resultsHero {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-80%);
}
