.studyBattleContainer {
  width: 100%;
  height: 100vh;
  padding: 10vh;
  background-image: url(wastelandBG.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
}

.BGsizer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.QandA {
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 10px;
}

/* .dummyBoss {
  position: absolute;
  left: 77%;
  top: 65%;
}

.studyHero {
  position: absolute;
  left: 8%;
  top: 70%;
} */

/* .heroContainer {
  margin-top: 1.7%;
  max-height: 45%;
} */
