.heroContainer {
  max-width: 350px;
}

/* .footerContainer {
  position: relative;
} */

.heroFooterLeft {
  height: 20vh;
  width: 50%;
  position: absolute;
  bottom: 0vh;
  border-color: white;
  color: whitesmoke;
  z-index: 1;
  background-image: linear-gradient(
    to bottom,
    #0a00ee,
    #0028e9,
    #003ae3,
    #0047db,
    #0052d1,
    #0e55c8,
    #1c58be,
    #275ab4,
    #2857aa,
    #2953a0,
    #295096,
    #2a4c8c
  );
}

.nes-container::after {
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 4px;
  border-radius: 4px;
}

.heroFooterRight {
  height: 20vh;
  width: 50%;
  position: absolute;
  bottom: 0vh;
  right: 0vh;
  color: whitesmoke;
  z-index: 1;
  background-image: linear-gradient(
    to top,
    #6d3c7e,
    #6a448b,
    #654c99,
    #5e54a6,
    #525db3,
    #4759b2,
    #3956b0,
    #2852af,
    #1e419f,
    #14318f,
    #09207f,
    #000e6f
  );
}

.heroStats {
  width: 35vh;
  z-index: 3;
}

.homeContainer {
  width: 100%;
  height: 100vh;
  padding: 0vh;
  background-image: url(Forest.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
}

.nes-progress {
  width: 80%;
}

.progressBars {
  width: 90%;
  position: relative;
  left: 6vh;
  bottom: 4vh;
  height: 4vh;
  font-size: 4vh;
}

.inventoryButton {
  width: 20vh;
  font-size: 2vh;
  margin-left: 5vh;
  height: 5vh;
}

.leaderboard {
  position: absolute;
  width: 40vh;
  right: 30vh;
  top: 20vh;
}

.th-leaderboard {
  background-color: #ffffff;
  border: 1px solid #000000;
  text-align: left;
  padding: 4px;
}

.tr-leaderboard:nth-of-type(1) {
  background-color: #e7eb0d;
}

.tr-leaderboard:nth-of-type(2) {
  background-color: #c4cfbf;
  /* white-space: pre-wrap; */
}

.tr-leaderboard:nth-child(3) {
  background-color: #b48114;
  white-space: pre-wrap;
  color: #000000;
}

.tr-leaderboard:nth-of-type(4) {
  background-color: #ffffff;
  /* white-space: pre-wrap; */
}
