.leftContainer {
  max-width: 500px;
}

.mainContainer {
  height: 100vh;
  /* max-height: 600px; */

  width: 100%;
  background-color: hsla(200, 40%, 30%, 0.4);
  background-image: url(BGLayer5.png), url(BGLayer3.png), url(BGLayer4.png),
    url(BGLayer2.png), url(BGLayer1.png);
  background-repeat: repeat-x;
  background-position: 0 101%, 0 100%, 0 90%, 0 100%, 0 0;
  background-size: 101%, 100%, 100%, 100%, 100%, 100%;
  animation: 50s para infinite linear;
  z-index: 10;
}

@keyframes para {
  100% {
    background-position: -5000px 101%, -800px 100%, 500px 90%, 1000px 90%,
      400px 0;
  }
}

.runningHero {
  position: absolute;
  max-width: 256px;
  bottom: 3vh;
}
